# Preliminary Data Exploration
### Steps Dataset

##### 1. Verify the Structure

In [1]:
import pandas as pd

In [3]:
steps = pd.read_csv("data/raw/steps/steps.csv")

steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         17 non-null     object
 1   steps_taken  17 non-null     int64
dtypes: int64(1), object(1)
memory usage: 404.0+ bytes

In [4]:
steps.head()

         date  steps_taken
0  2024-12-21         4664
1  2024-12-22        16819
2  2024-12-23        13460
3  2024-12-24        10506
4  2024-12-25         2804

##### 2. Identify Missing Values

In [5]:
steps.isnull().sum()

date           0
steps_taken    0
dtype: int64

##### 3. Handle Missing Values

This dataset doesn't have missing values.

##### 4. Correcting Formats and Data Types

We ensure `date` column to be `datetime` format and `steps_taken` to be `integer`

In [8]:
steps['date'] = pd.to_datetime(steps['date'])

steps.dtypes

date           datetime64[ns]
steps_taken             int64
dtype: object

##### 5. Identify Outliers