# Preliminary Data Exploration
### Activities Dataset

##### 1. Verify the Structure

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
activities = pd.read_csv("../../data/raw/activities/activities.csv")

activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            18 non-null     object
 1   activity (Y/N)  18 non-null     object
dtypes: object(2)
memory usage: 420.0+ bytes

In [3]:
activities.head()

         date activity (Y/N)
0  2024-12-21             No
1  2024-12-22             No
2  2024-12-23            Yes
3  2024-12-24             No
4  2024-12-25             No

##### 2. Identify Missing Values or Missing Dates

In [5]:
activities.isnull().sum()

date              0
activity (Y/N)    0
dtype: int64

In [6]:
start_date = "2024-12-21"
end_date = "2025-01-06"

full_date_range = pd.date_range(start=start_date, end=end_date, freq="D")
print(full_date_range)

DatetimeIndex(['2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30', '2024-12-31', '2025-01-01',
               '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05',
               '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

**Remove the current day from the analysis**